<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>
    <form id="userForm"> 

        <label>User</label><br>
        <input type="text" id="user" ><br>
        <label>Email</label><br>
        <input type="email" id="email"><br>
        <label>Password</label><br>
        <input type="password" id="password"><br>
        <label>Repeat Password</label><br>
        <input type="password" id="repeatPassword" ><br><br>

        <button type="submit" class="newUsuario" >ENVIAR</button>
     
    </form>
</body>
<script>
 
   
//FUNCION QUE AL CLICKAR EN EL BOTON REVISA SI LA CONTRASEÑA TIENE MENOS DE 8 DIGITOS, SI ES ASI NO LANZA LA PETICION
//SI LA CONTRASEÑA NO ES IGUAL AL CAMPO DE REPETIR CONTRASEÑA NO LANZA LA PETICION
//SI TODO ES CORRECTO LANZA UN METODO POST, CREA EL USUARIO CON ESOS DATOS Y CON UN ID AUTOINCREMENTAL
//TAMBIEN LE ASIGNA LA FECHA DE CUANDO SE CREO EL USUARIO

   $(".newUsuario").click(function () {
        let password= document.getElementById('password').value;
        let repeatPassword= document.getElementById('repeatPassword').value;
        let usuario = document.getElementById('user').value;
        let correo = document.getElementById('email').value;
        let tamano = document.getElementById('password').value.length;
        const tamanoPassword = 8;

       
            if(password === repeatPassword && tamano>=8 && usuario!=='' && correo!==''){
        fetch("http://localhost:2222/usuarioss", {
      method: "post",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },

      body: JSON.stringify({
        _usuario: document.getElementById('user').value,
        _correo: document.getElementById('email').value,
        _contraseña:document.getElementById('password').value
      })

    })
      .then((response) => {

        //Recarga la pagina para que se muestre la categoria añadida
        location.reload();

      })

       }else{
           location.reload();
           alert("Error, introduce todos los campos || Contraseñas no coinciden o son menores de 8 digitos");
       }
        

      
    
   });

</script>
</html>